<br/><br/>

<h2>J.I.V.E. - Joining In Virtuous Endeavors</h2>

<br/>

We started JiveSF in 2004 with the goal of networking and servicing charity organizations, but it has also grown into so much more.  We have done such such a variety of social and community service events over the years.  Through exploring SF together, it's been a great way to stay in touch with old friends, as well as meet new ones.   JiveSF has enriched our lives in countless ways by exposing us to a great set of people and events.

<br/><br/>
So far, we've raised $21,000 for charity and had a lot of fun doing it! We always love to have more people join us, so contact us to sign up - we'd love to meet you!