/* Add a background color for the page */
body {
  padding-left:0px;
  color:#BB1111;
  font-size:100%;
}

/* This applies to any HTML h1 tag */
h1 {
  color:blue;
  text-align:center;
  font-family:"Times New Roman", Times, serif;
  font-size:2.5em;  /* em is preferred over pixels because of IE */
}

/* This applies to any h1 tag that has class="right" */
h1.right {
  text-align:right;
}

/* This applies to a *SINGLE* element with id="top_heading" */
#banner {
  text-align:center;
  background-image:url('/images/gradient.jpeg');
  background-repeat:repeat-x;
}

#logo {
}

/* This all elements with class="error" */
.error {
  color:red;
  text-align:left;
}

.blink {
  text-decoration:blink;
}

.shadow {
  text-shadow:yellow 2px -2px 0px;
}

/* CSS allows special formatting for links - in that the styling is specific to what STATE the link is in. */
#navigation_bar {
  text-align:center;
  background-color:#BB1111;
  padding-top:10px;
  padding-bottom:10px;
}	
	
a.menu:link,a.menu:visited {
  font-weight:bold;
  color:#FFFFFF;
  background-color:#BB1111;
  width:120px;
  text-align:center;
  padding:10px;
  text-decoration:none;
}
a.menu:hover,a.menu:active {
  background-color:#881111;
}
